.categorias{
    width: 70%;
    height: 30px;
    background-color: rgb(65, 62, 62);
    font-weight:600; 
    border: 1px solid gray;
    border-radius: 15px;
    color: #fff;
}

.subcontainer_titleCategoria{
    color: #fff;
}